@import 'variables';

// NAVIGATION START
 nav {
    height: 100px;
    background: white;
    width: 102%;
    margin-left: -8px;
    margin-top: -8px;
    border-top: 20px solid #525252;
    border-bottom: 1px solid rgb(181, 181, 181);
}

.logo-image {
    margin: 22px 143px;
    float: left;
    width: 50px;
    height: 50px;
}

.logo-text {
    color: #073719;
    float: left;
    font-size: x-large;
    line-height: 3;
    margin-left: -130px;
    font-family: arial;
    font-weight: bolder;
}

.links {
    float: left;
    margin: 48px 23px;
}

img.hamburger-image {
    float: right;
    margin: 9px 20px;
}

a {
    margin-right: 15px;
    text-decoration: none;
    font-family: arial;
    font-weight: bolder;
    color: #525252;
}
// NAVIGATION END

//FILTER BOX START

.container {
    width: 50%;
    height: 204px;
    border: 1px solid grey;
    margin-top: 30px;
    margin-left: 80px;
}

.keywords {
    margin: 66px 70px;
}

.location {
    margin: -120px 419px;
}

.search {
    margin: 101px 558px;
}

button {
    border: none;
    background: green;
    color: white;
    height: 36px;
    width: 126px;
    margin: -19px 15px;
    border-radius: 6px;
    position: absolute;
    top: 256px;
    right: 637px;
}

label.keywords {
    position: absolute;
    top: 57px;
    margin-left: 2px;
}

label.location {
    position: absolute;
    top: 244px;
    margin-left: 273px;
}

input.keywords-input,input.location-input {
    height: 30px;
    width: 250px;
}

form#login {
    margin-left: 31px;
    line-height: 13;
    display: inline!important;
}

label {
    position: absolute;
    top: 120px;
}

input.keywords-input {
    height: 30px;
    width: 249px;
    float: left;
    position: absolute;
    left: 392px;
    top: 239px;
}

.job-row {
    width: 50%;
    height: 204px;
    border: 1px solid grey;
    margin-top: 0px;
    margin-left: 80px;
}


h1.seniorengineer {
    margin: 28px 12px;
}

p.yesterday {
    float: right;
    margin: -59px 42px;
    color: #9b9b9b;
}

h4.nsone {
    margin: -6px 13px;
}

span {
    color: red;
    font-family: arial;
    font-weight: bolder;
}

p.description {
    margin-left: 12px;
    color: #9b9b9b;
}

.angularjs {
    height: 20px;
    width: 65px;
    border: 2px solid #dfe180;
    background: #f9fce9;
    margin-left: 12px;
}

.d3js {
    height: 20px;
    width: 65px;
    border: 2px solid #dfe180;
    background: #f9fce9;
    margin-left: 12px;
    position: absolute;
    top: 525px;
    left: 164px;
    text-align: center;
}

.javascript {
    height: 20px;
    width: 65px;
    border: 2px solid #dfe180;
    background: #f9fce9;
    margin-left: 12px;
    position: absolute;
    top: 525px;
    left: 239px;
    text-align: center;
}

.ui {
    height: 20px;
    width: 34px;
    border: 2px solid #dfe180;
    background: #f9fce9;
    margin-left: 12px;
    position: absolute;
    top: 525px;
    left: 314px;
    text-align: center;
}

.css {
    height: 20px;
    width: 34px;
    border: 2px solid #dfe180;
    background: #f9fce9;
    margin-left: 12px;
    position: absolute;
    top: 525px;
    left: 358px;
    text-align: center;
}


/*INFO BOX START*/
.infoBox {
    width: 440px;
    height: 440px;
    border: 2px solid #e7efa4;
    margin-top: -413px;
    margin-left: 871px;
    background: #fafbe9;
}

.featuredCompany {
    width: 440px;
    height: 460px;
    border: 1px solid #F1EFEF;
    margin-top: 41px;
    margin-left: 871px;
    background: white;
}

h1.lookingForJob {
    text-align: center;
}

span.comeToYou {
    color: green;
}

button.createProfile {
    margin-left: 34px;
    background: gray;
    margin-top: 30px;
    width: 385px;
    position: absolute;
    top: 453px;
    left: 873px;
}

.list, h4 {
    margin-left: 53px;
}

img.logo2 {
    margin-left: 60px;
    background:black;
}

img.logo1 {
    margin-left: 128px;
    position: absolute;
    right: 252px;
    top: 806px;
    border: 1px solid #E0DFDF;
}

h5 {
    margin-left: 190px;
    margin-top: 180px;
}

h2.maxplay {
    margin: 142px 171px;
    font-size: 24px;
    color: green;
}

h4.Austin {
    margin: -138px 184px;
    color: gray;
}



// FILTER BOX END






// .container {
//     width: 71%;
//     height: 204px;
//     border: 1px solid grey;
//     margin-top: 30px;
//     margin-left: 170px;
// }

// .keywords {
//     margin: 66px 70px;
// }

// .location {
//     margin: -120px 419px;
// }

// .search {
//     margin: 101px 558px;
// }

// button {
//     border: none;
//     background: green;
//     color: white;
//     height: 36px;
//     width: 126px;
//     margin: -19px 25px;
//     border-radius: 6px;
// }

// input.keywords-input,input.location-input {
//     height: 30px;
//     width: 329px;
// }

// form#login {
//     margin-left: 79px;
//     line-height: 13;
//     display: inline!important;
// }

// label {
//     position: absolute;
//     top: 120px;
// }

// input.keywords-input,   {
//     height: 30px;
//     width: 329px;
//     float: left;
//     position: absolute;
//     left: 233px;
//     top: 240px;
// }
//  