@import 'variables';

// NAVIGATION START
 nav {
    height: 100px;
    background: white;
    width: 102%;
    margin-left: -8px;
    margin-top: -8px;
    border-top: 20px solid #525252;
    border-bottom: 1px solid rgb(181, 181, 181);
}

.logo-image {
    margin: 22px 143px;
    float: left;
    width: 50px;
    height: 50px;
}

.logo-text {
    color: #073719;
    float: left;
    font-size: x-large;
    line-height: 3;
    margin-left: -130px;
    font-family: arial;
    font-weight: bolder;
}

.links {
    float: left;
    margin: 48px 23px;
}

img.hamburger-image {
    float: right;
    margin: 9px 20px;
}

a {
    margin-right: 15px;
    text-decoration: none;
    font-family: arial;
    font-weight: bolder;
    color: #525252;
}
// NAVIGATION END

//FILTER BOX START

.container {
    width: 50%;
    height: 204px;
    border: 1px solid grey;
    margin-top: 30px;
    margin-left: 80px;
}

.keywords {
    margin: 66px 70px;
}

.location {
    margin: -120px 419px;
}

.search {
    margin: 101px 558px;
}

button {
    border: none;
    background: green;
    color: white;
    height: 36px;
    width: 126px;
    margin: -19px 15px;
    border-radius: 6px;
    position: absolute;
    top: 256px;
    right: 637px;
}

label.keywords {
    position: absolute;
    top: 57px;
    margin-left: 2px;
}

label.location {
    position: absolute;
    top: 244px;
    margin-left: 273px;
}

input.keywords-input,input.location-input {
    height: 30px;
    width: 250px;
}

form#login {
    margin-left: 31px;
    line-height: 13;
    display: inline!important;
}

label {
    position: absolute;
    top: 120px;
}

input.keywords-input {
    height: 30px;
    width: 249px;
    float: left;
    position: absolute;
    left: 392px;
    top: 239px;
}

.job-row {
    width: 50%;
    height: 204px;
    border: 1px solid grey;
    margin-top: 0px;
    margin-left: 80px;
}







// FILTER BOX END






// .container {
//     width: 71%;
//     height: 204px;
//     border: 1px solid grey;
//     margin-top: 30px;
//     margin-left: 170px;
// }

// .keywords {
//     margin: 66px 70px;
// }

// .location {
//     margin: -120px 419px;
// }

// .search {
//     margin: 101px 558px;
// }

// button {
//     border: none;
//     background: green;
//     color: white;
//     height: 36px;
//     width: 126px;
//     margin: -19px 25px;
//     border-radius: 6px;
// }

// input.keywords-input,input.location-input {
//     height: 30px;
//     width: 329px;
// }

// form#login {
//     margin-left: 79px;
//     line-height: 13;
//     display: inline!important;
// }

// label {
//     position: absolute;
//     top: 120px;
// }

// input.keywords-input,   {
//     height: 30px;
//     width: 329px;
//     float: left;
//     position: absolute;
//     left: 233px;
//     top: 240px;
// }
//  